@tailwind base;
h1 {
  @apply text-2xl;
  @apply font-bold;
  @apply mb-3;
}
h2 {
  @apply text-xl;
  @apply: font-bold;
  @apply mb-3;
}
h3 {
  @apply text-lg;
  @apply: font-bold;
  @apply mb-3;
}
a {
  @apply text-blue-600 underline;
}
p {
  @apply mb-3;
}

/* mobile responsiveness */
.hidden {
  display: none;
}

@media (min-width: 640px) {
  .hidden {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }
}

@tailwind components;
@tailwind utilities;
