@tailwind base;

/*  styles for markdown render */
.markdown > ul {
  @apply list-disc;
  @apply list-inside;
  @apply mb-3;
}
.markdown > ol {
  @apply list-decimal;
  @apply ml-5;
  @apply mb-3;
}
.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4 {
  @apply text-purple-600;
}

.markdown > h1 {
  @apply text-4xl;
  @apply font-bold;
  @apply mb-3;
}

.markdown > h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply mb-3;
}

.markdown > h3 {
  @apply text-xl;
  @apply font-bold;
  @apply mb-3;
}

.markdown > h4 {
  @apply text-lg;
  @apply font-bold;
  @apply mb-3;
}

.markdown > p {
  @apply mb-3;
}

.markdown > blockquote {
  @apply pl-2;
  @apply border-l-4;
  @apply italic;
  @apply text-gray-500;
  @apply mb-3;
}

a {
  @apply text-purple-600;
  @apply underline;
}
a:hover {
  @apply text-purple-800;
}

/* mobile responsiveness */
.hidden {
  display: none;
}

@media (min-width: 640px) {
  .hidden {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }
}

@tailwind components;
@tailwind utilities;
